<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="well well-lg">
      <h2>Teams:</h2>
      <br>
      <ul>
        {{#each}}
         <li><h4>{{#link-to 'team' this.id}}{{name}}{{/link-to}}</h4></li>
        {{/each}}
      </ul>
    </div>
  </div>

      <div class="col-md-6">
        <div class="well well-lg">
        <h2>Add a Team:</h2>
        <br>
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            {{input id="name" class="form-control" value=name}}
          </div>
          <button class="btn btn-primary" {{action "save"}}> Save Team</button>
        </form>
      </div>
    </div>
    </div>
  </div>
