.nav img {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.nav {
  padding: 15px;
}

.nav li {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;

}

.well {
  margin: 20px;
  padding: 20px;
}

.shot {
  width: 40%;
  margin: 21px;
  padding: 10px;
}
